
body{
    background-color: lightgray;
}

.navbar-custom{
    padding-bottom: 0px;
}

.navbar-custom .navbar-brand{
    color: white;
    background-color: rgb(74, 170, 165);
    font-size: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    font-family:Tahoma;
    margin-bottom: 0mm;
}



.container{
    padding-top: 40px;
}

.jumbotron{
    background-color: white;
    color: rgb(74, 170, 165);
    font-family: Tahoma;
}

#summary-text{
    color: darkgrey;
}

#sum-layout{
    float: left;
}

#summary-fig{
    position: relative;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.landing-upper-graphs{
    padding-bottom: 20px;
}
#graph-container{
    padding-top: 10px;
}

